<div>
    <div class="login_wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                <form>
                    <h1>登录</h1>
                    <div>
                        <input  name="userName" type="text" class="form-control" placeholder="Username" required=""/>
                    </div>
                    <div>
                        <input  name="password" type="password" class="form-control" placeholder="Password" required=""/>
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="/index">登录</a>
                        <a class="reset_pass" href="#">忘记密码</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">New to site?
                            <a href="/account/register" class="to_register">注册</a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-paw"></i> ===管理系统</h1>
                            <p>jfyang made，this is bootstrap 3 template</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>