<div>
    <div class="login_wrapper">
        <div class="animate form">
            <section class="login_content">
                <form>
                    <h1>注册</h1>
                    <div>
                        <input name="userName" type="text" class="form-control" placeholder="Username" required=""/>
                    </div>
                    <div>
                        <input name="password" type="password" class="form-control" placeholder="Password" required=""/>
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="javascript:void(0);" id="register">注册</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="/account/login" class="to_register"> 登录 </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-paw"></i> 小杨无内鬼科技系统</h1>
                            <p>jfyang made it. this is a Bootstrap 3 template</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
 $(document).ready(function () {
     $("#register").bind("click",function () {
         register();
     })
 });
 function register() {
     var user={};
     user.userName=$("[name='userName']").val();
     user.password=$("[name='password']").val();
     $.ajax({
         url:"/api/user",
         type:"post",
         contentType:"application/json",
         data:JSON.stringify(user),
         success:function (data) {
             if(data.status==200){
                 location.href = "/common/dashboard";
             }else {
                 layer.msg(data.message,{icon:0});
             }
         },
         error:function (data) {
             layer.msg(data.responseText,{icon:0});
         }
     })
 }
</script>